.todo{
    width: 100%;
    min-height: 91vh;
    padding-top: 30px;
    
}
.todo-container{
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(3, 146, 3);
    box-shadow: 0 0 5px rgba(102, 167, 4, 0.788);
    border-radius: 10px;
}
.todo-container form{
    padding: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(78, 131, 0);
    gap: 15px;
    & input,textarea{
        border: none;
        outline: none;
        padding: 10px 20px;
        font-size: 1.2rem;
        border: 1px solid rgb(3, 146, 3);
        /* box-shadow: 0 0 5px rgb(117, 196, 0); */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 1px;
        border-radius: 10px;
        background-color: rgb(8, 8, 8);
        color: rgb(78, 161, 0);
        font-weight: 600;
    }
    & input{
       height:fit-content ;
       min-width:200px;
    }
    & textarea{
       width: 100%;
    }
    & button{
        padding: 10px;
        min-width: 100px;
        border: none;
        border-radius: 10px;
        background-color: rgb(27, 228, 0);
        font-weight: 600;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 0.8px;
        cursor: pointer;
        height: fit-content;
        &:hover{
            background-color: rgb(153, 0, 255);
            color: white;
        }
    }
}
.todo-container .todo-tasks{
    max-height: 68vh;
    border-radius: 20px;
    padding:2px 20px ;
    overflow-y: auto;
    &::-webkit-scrollbar{
       width:4px;
       background-color: rgb(2, 119, 2);
       border-radius: 10px;
    }
}

.todo-update{
    /* display: none; */
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    width: 100%;
}
.todo-update .cross-icon{
    position: absolute;
    right: 19.365px;
    top: 15px;
    font-size: 1.7rem;
    color: rgb(3, 221, 3);
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        transform: scale(1.2);
    }
}
.hideShow{
    display: none;
}

/* media query */
@media (max-width:776px) {
    .todo{
        padding-top: 15px;
    }
    .todo-container{
        margin-bottom: 10px;
        padding-bottom: 10px;
        gap: 0;
    }
    .todo-container form{
        flex-direction: column;
        border-bottom: none;
        gap: 10px;
        padding: 15px;
       & input,textarea{
        font-size: 0.9rem;
        padding: 8px 10px;
       } 
       & button{
        width: fit-content;
        font-size: 0.9rem;
        align-self: flex-end;
        padding: 8px;
        margin-right: 3px;
       }
    }
}
@media (max-width:576px) {
   .todo-container form{
    padding: 10px;
    & input,textarea{
        background-color: rgb(31, 31, 31);
        border: none;
        /* border-bottom: 1px solid green; */
       } 
    }
    .todo-container .todo-tasks{
        padding:2px 10px;
        gap: 15px;
    }
}