.update{
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(0, 175, 0);
    background-color: rgb(17, 17, 17);
    padding:90px 20px;
    gap: 50px;
    & input,textarea,button{
        border: none;
        padding:20px 15px;
        outline: none;
        /* border-radius: 10px; */
        letter-spacing: 0.5px;
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    }
    & input,textarea{
        /* background-color: rgb(83, 83, 83); */
        background-color: rgb(49, 49, 49);
        border-radius: 10px;
        /* border-bottom: 2px solid rgb(90, 90, 90); */
        color: rgb(81, 255, 0);
        width:100%;
    }
    & button{
        width: fit-content;
        padding: 10px 20px;
        border-radius:10px;
        align-self: flex-end;
        margin-top: 10px;
        cursor: pointer;
        background-color: green;
        font-weight: 600;
        box-shadow: 0 0 10px rgb(56, 83, 60);
        &:hover{
            background-color: rgb(115, 0, 192);
            color: white;
        }
    }
}