.signup{
    width: 100%;
    height: 91vh;
    padding: 0 10px;
}
.signup-container{
    background-color: rgb(5, 170, 5);
    padding: 20px 30px;
    border-radius: 15px;
    & h1{
        font-size: 2.5rem;
        font-family:'Times New Roman', Times, serif;
        text-decoration: underline;
    }
    & form{
        gap: 20px;
        & input{
            padding: 10px 20px;
            min-width:300px;
            border: none;
            font-size: 1.2rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            outline: none;
            color: green;
            font-weight: 600;
            letter-spacing: 0.7px;
            background-color: rgb(197, 197, 197);
            border-radius: 10px;
        }
        & p{
           font-size: 1.2rem; 
           color: rgb(31, 31, 31);
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           margin-top: -8px;
           align-self: end;
           padding-right: 6px;
           & .sign-in{
            font-size: 1.37rem;
            font-weight: 600;
            text-decoration: underline;
           }
        }
        & button{
            /* width: fit-content; */
            width: 100%;
            padding: 10px 30px;
            border: none;
            font-size: 1.3rem;
            border-radius: 10px;
            font-weight: 900;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            letter-spacing: 1px;
            cursor: pointer;
            background-color: red;
            box-shadow: 0 0 10px red;
            margin-top: 12px;
            &:hover{
                background-color: blueviolet;
                color: white;
                box-shadow: 0 0 10px rgb(36, 36, 36);
            }
        }
    }
}

/* media query */
@media (max-width:576px) {
    .signup-container{
        padding:20px;
        & h1{
            font-size: 2.2rem;
        }
        & form input{
            padding:10px;
            font-size: 1.1rem;
        }
        & form button{
            padding:10px;
            font-size: 1.1rem;
        }
    }
}
@media (max-width:382px){
   .signup-container{
    padding:20px 15px;
    & form{
        gap: 18px;
    }
    & form input{
        min-width: 100%;
    }
   }
}