.home{
    width: 100%;
    height: 90.5vh;
    text-align: center;
}
.home-container h1{
    font-size: 3.3rem;
    color: rgb(136, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
.home-container p{
    color: rgb(216, 215, 215);
    letter-spacing: 1px;
}
.home-container  button{
    align-self: center;
    width: fit-content;
    padding: 11px 20px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: rgb(113, 212, 0);
    box-shadow: 0 0 5px rgba(3, 146, 3, 0.952);
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 10px black;
        background-color: rgb(0, 0, 0);
        color: white;
    }

}
/* media query */

@media (max-width:780px){
    .home-container h1{
        font-size: 2.5rem;
    }
    .home-container  button{
        font-size: 1.1rem;
    }
}