.footer{
    width: 100%;
    background-color: rgb(1, 179, 1);
    padding: 10px;
    gap: 8px;
    & h3{
        font-size: 1.9rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(65, 0, 150);
        letter-spacing: 0.6px;
    }
    & h4{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 0.6px;
        color: rgb(87, 0, 109);
    }
    & p{
        font-size: 0.9rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(22, 22, 22);
    }
}